.main-container {
    justify-content: center;
    display: grid;
    top:50%;
    left: 50%;
    height: 200px;
    margin-top: 100px;
}

.heading {
<<<<<<< HEAD
    font-size: 14px;
    padding: 10px 20px;
    justify-content: center;
    color:  rgb(57, 133, 86);
}
.button {
=======
    font-size: 24px;
    font-weight: bold;
    color: rgb(57, 133, 86);
}
p {
    color: orange;
}
button {
>>>>>>> nav
    margin: 20px;
    background-color: rgb(57, 133, 86);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.button :hover {
    margin: 20px;
    background-color: white;
    color: rgb(57, 133, 86);;
    padding: 10px 20px;
    border: 1px solid rgb(57, 133, 86);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

}